* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#map {
  flex-grow: 1;
}

.flight-info-container {
  width: 300px;
}

table {
  width: 100%;
  border-style: solid;
}

td {
  width: 50%;
  padding: 5px;
  text-align: center;
  border: 1px solid #000;
}
